body {
    background-color: black;
    color: indianred;
    margin: 20px;
}
.headlines {
    text-decoration: underline;
}
.sastranet-fig a:visited{
    color: cadetblue;
    text-decoration: none;
}
.sastranet-fig a:hover {
    color: aquamarine;
}
.redirectiontomain a:visited,a:hover{
    color: white;
}