:root{
    --background1:lightcoral;
    --background2:darkred;
    --dark:#111;
    --bright:#fefcfc;
    
}
*{
    box-sizing:border-box;
}
body {
    margin: 0;
    padding: 0;
    background:var(--dark);
    color:var(--bright);
    display: flex;
    flex-direction: column;
}
html {
    scroll-behavior: smooth;
}
.navbar{
    position:fixed;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: var(--dark);
    backdrop-filter: blur(16px);
    font-size: 20px;
    padding: 20px;
    
    
    border-radius: 10px;
    height:80px;
    width: 100%;/*to make the nav bar fixed with full length */
}
.nav-name{
    display: flex;
    flex-direction:row;  
}
.nav-name {
    color:var(--background1);
    font-size: 25px;
}
.navlinks{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 10px;
    margin-right: 20px;
}
.navlinks a{
    text-decoration: none;
}
.navlinks a:visited{
    color:var(--bright);
}
.navlinks a:hover{
    color: coral;
}
.contents{
    padding-top: 80px;/*avoid content being overlapped with navbar*/
    margin-left:2px;
}
#home{
    background-image: radial-gradient(#780001, #300303, #050101, #111);
    padding-top: 80px;/*alignment of "portfoilo" on home page*/
    padding-bottom: 200px;  
}
.portfolio{
    display: flex;
    flex-direction: column;
    align-items:start;
    padding-left: 20px;
    font-size: 80px;
    letter-spacing: 3px;
    padding-right: 20%;
}
.portfolio span{
    color:var(--background2);
    letter-spacing: 5px;
}
#about {
    padding-top: 80px;/*to keep about section below nav bar*/
    margin-left: 10px;
    margin-right: 10px;
  
}
#education {
    padding-top: 80px;/*to keep about section below nav bar*/
    margin-left: 10px;
    margin-right: 10px;
}

.Undergraduation{
    padding-left: 30px;
    padding-top: 10px;

}
.Undergraduation h1{
    font-style: italic;
    text-decoration: underline;
}
.Undergraduation-ul{
    list-style: circle;
}
.Undergraduation-ul span{
    font-style: italic;
    
}
.Schooling{
    padding-left: 30px;
    padding-top: 10px;
}
#skills {
    padding-top: 80px;/*to keep about section below nav bar*/
    margin-left: 10px;
    margin-right: 10px;
}
#project{
    padding-top: 80px;/*to keep about section below nav bar*/
    margin-left: 10px;
    margin-right: 10px;
}
#contact {
    padding-top: 80px;/*to keep about section below nav bar*/
    margin-left: 10px;
    margin-right: 10px;
}
.Schooling h1{
    font-style: italic;
    text-decoration: underline;
}
.Schooling-ul{
    list-style:none;
}
.certification-para a:visited{
    color:aqua;
}
/*
@media screen and ( min-width: 576px) {
body{
 background-image: radial-gradient(lightcoral,black);
}
}
*/