body {
    background-color: black;
    color:indianred;
}
.navcls{
    padding: 10px;
}
.navlinks{
    display: flex;
    justify-content: start;
    list-style: none;
    padding: 5px;
    gap: 10px;
}
.navlinks a{
 text-decoration: none;
 color:darksalmon;
}
a:hover{
    color: coral;
}
.navbtn {
   display:flex;
   justify-content: space-evenly;
}